


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #91a395;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 520px;
    width: 520px;
    /*margin: 0px;*/
    background-color: #87ce0e;
}

#board div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 50px;
    width: 50px;
    
}

